{% extends 'recipes/base.html' %}
{% load static %}
{% block content %}
<style>
    .background-image {
        background-image: url("{% static 'recipes/images/background.jpg' %}");
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        color: white;
        font-family: 'Nunito', sans-serif;
    }

    .contact-info {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        text-align: center;
        padding: 20px;
    }

    
    .contact-info {
        margin: 40px 10px 0 10px;
    }

  
</style>

<div class="row no-gutters text-center background-image">
    <div class="col-12 col-md-6 col-lg-8">
        <div class="contact-info">
            <h3>About</h3>
            <h6> I began my career as a biochemist but have since transitioned into the field of web development 🧪🚀. My primary focus revolves around creating user-friendly web applications that cater to a diverse audience.
                This recipe app is one of my educational projects*, where I've refined my web development skills. 
                When I'm not immersed in coding, you can often find me enjoying music, exploring the beauty of the great outdoors, or engaging in sports activities.</h6>
            <br><p> Check out some of my code:
                <a href="https://github.com/torbalansky" target="_blank" class="btn btn-info">GitHub</a>
            </p>
            <p style="font-size: 12px; font-style: italic;"><br>*Please, be aware that the images and other content within this application are used strictly for educational purposes and are not original creations.</p>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="contact-info">
            <h3>Contact</h3>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
