<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'recipes:home' %}">
        {% load static %}
        <img src="{% static 'recipes/images/logo_r.png' %}" style="width: 50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="font-size: 1.5rem;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'recipes:recipes_list' %}">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'recipes:about' %}">About</a>
        </li>
          {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'recipes:profile' user.pk %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipes:logout' %}">Logout</a>
                </li>
          {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'recipes:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'recipes:login' %}">Login</a>
                </li>
            {% endif %}
      </ul>
          
          {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-link">
              <a href="{% url 'recipes:profile' request.user.id %}"  style="text-decoration: none; color: white; font-style: italic; font-weight: bold;">
                <p>Welcome, {{ user.username }}!</p>
              </a>       
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>