{% extends 'recipes/base.html' %}
{% load static %}
{% block content %}
   
<style>
    html, body {
        margin: 0;
        padding: 0;
    }

    .background-container {
        position: relative;
        background-image: url("{% static 'recipes/images/recipe_list.jpg' %}");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .recipe-container {
        position: relative;
        z-index: 1;
    }
    
    .card {
        max-width: 500px; 
        margin: 10px;
    }

    .card img {
        width: 100%; 
        height: 250px; 
        object-fit: cover; 
    }

    .card-img-overlay {
        background-color: rgba(89, 87, 90, 0.7);
        margin-top: 100px;
        height: 150px;
    }

    h3 {
        font-family: 'Nunito', sans-serif;
        font-size: 36px;
        text-align: center;
        color: white;
        font-weight: 900;
        font-style: italic;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
    }
 
    .form-inline {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
    }

    #recipeChart {
        max-width: 500px;  
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .likes-overlay {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        border-radius: 5px;
    }

    .likes-overlay i {
        font-size: 15px;
        margin-right: 5px;
        color: red;
    }
</style>

<div class="background-container">
  
    <div class="recipe-container text-center text-light" style="font-weight: bold;">
        <h3>Explore recipes</h3>
        <hr>
        <form method="GET" class="form-inline justify-content-center d-md-flex">
            {% csrf_token %}
            <div class="form-group mx-2 mb-2">
                {{ form.Recipe_Name.label_tag }}
                {{ form.Recipe_Name }}
            </div>
            <div class="form-group mx-2 mb-2">
                {{ form.Ingredients.label_tag }}
                {{ form.Ingredients }}
            </div>
            <div class="form-group mx-2 mb-2">
                {{ form.chart_type.label_tag }}
                {{ form.chart_type }}
            </div>
            <button type="submit" class="btn btn-primary mx-2">Search</button>
            <button type="button" id="clearButton" class="btn btn-warning">Clear</button>
        </form>
    </div>
 
    <div class="container mt-4">
        <div class="row">
            {% for recipe in recipes %}
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="likes-overlay">
                        {{ recipe.number_of_likes }}
                        {% if user in recipe.likes.all %}
                            <a href="{% url 'recipes:recipe_like' recipe.id %}">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'recipes:recipe_like' recipe.id %}">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        {% endif %}
                    </div>
                    <img src="{{ recipe.pic.url }}" class="card-img" alt="{{ recipe.title }}">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-light">{{ recipe.title }}</h4>
                        <p class="card-text text-light"><small>Author: {{ recipe.author }}</small></p>
                        <a class="btn btn-success" href="{% url 'recipes:recipes_details' recipe.id %}">View Recipe</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if recipes and chart_image %}
    <div class="chart-container text-center">
        <h3>Chart</h3>
        <img src="data:image/png;base64,{{ chart_image }}" alt="Chart" id="recipeChart">
    </div>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        $("#id_Ingredients").select2({
            placeholder: "Choose ingredients",
            allowClear: true,
            multiple: true,
            width: "200px",
        });
    });
    $("#clearButton").click(function () {
        var isSearchMade =
            $("#id_Recipe_Name").val().trim() !== "" ||
            $("#id_Ingredients").val().length !== 0 ||
            $("#id_chart_type").val().trim() !== "";

        if (isSearchMade) {
            window.location.href = "{% url 'recipes:recipes_list' %}";
        } else {
            $("#id_Recipe_Name").val("");
            $("#id_Ingredients").val(null).trigger("change");
            $("#id_chart_type").val("");
        }
    });
</script>

{% endblock %}