{% extends 'recipes/base.html' %}
{% load static %}
{% block content %}
<style>
    body {
      position: relative;
      background-image: url("{% static 'recipes/images/login_view.jpg' %}");
      background-size:cover;
      background-position: center;
      width: 100%;
      height: 100%;
      color: white;
    }
  
    .container {
      padding: 10px;
      border-radius: 5px;
      background-color: rgba(117, 114, 118, 0.8); 
      width: 100%;
      max-width: 600px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
    .btn.btn-primary.register {
      width: 200px;
      margin-top: 20px;
    }
  </style>
<div class="container text-center py-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <h2>Register</h2>
            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>

                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>

                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="error-message">
                            {% for error in form.password1.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="error-message">
                            {% for error in form.password2.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary register">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}